 <!DOCTYPE html>
<body>
    <div class="video-wrap">
        <div class="cover"></div>
        <video loop muted autoplay>
            <source src= "http://gif-2-mp4.com/dl.php?f=20170527093305-cd16a937f4.mp4" type= "video/mp4" >
        </video>
    </div>
    
    <main>
      <header>
        <!--<h1>멋쟁이사자처럼 <br class="width">대학연합하프톤</h1>-->
      </header>
    </main>
    
    
    
    
    <footer>
    <div class="schools">
        <br>
        <header class="mb-5"><h1><strong style="color:#1874CD">냉장고를 부탁해!</strong></h1></header>
        <br>
        <div class="flex logos">
            <div>
                <h2><strong style="color: #556B2F">재료</strong>에 맞는</strong><br>
                <strong style="color: #556B2F">레시피</strong>를<br>
                <strong style="color: #556B2F">제안</strong>해드립니다.<br></h2>
                <br>
                <button type="submit" class="btn btn-primary"><a href="/food-choice">재료 선택</a></button>
                <br>
                <br>
                <p>'냉장고를 부탁해' 서비스가</p>
                <p>당신의 냉장고를 탈탈 털어드립니다.</p>
                <p>처치 곤란! 천덕꾸러기 냉장고 재료의</p>
                <p>신분 상승 프로젝트!</p>
                <p>냉장고를 여는 순간, 최고의 요리쇼가 시작된다!</p>
                <p>냉장고 주인의 고민을 해결할 맞춤 음식과</p>
                <p>대한민국 최고의 레시피를 제안해 드립니다!</p>
                
                <br>
                <br>
                <br>
                
                <img src="/assets/our.jpg">
                <p><h3><strong style="color: #556B2F">Developers</strong></h3></p>
                <h5>
                <p>장인완 (강남대)</p>
                <p>조민국, 노욱진 (성공회대)</p>
                <p>구은희, 이재희 (단국대)</p>
                </h5>
                
                <p>Service was temporaily built<br> by 
                <a href="http://aulikelion.club" style="color: #556B2F; font-weight: bold;">경기권해커톤_냉부해팀</a></p><br>
                <img width="200px" style="margin: 2rem 0;" src="assets/likelion.png" alt="Logo" />
           </div>
        </div>
    </div>
    </footer>
    
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
    <script src="/assets/application-1d80dcff03489285edef5aee479b4c43fe19bdfe3fcff63ce275b391d783df43.js" data-turbolinks-track="reload"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  </body>
</html>